.banner {
    &__container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__slider {

    }
    &__slide {
        padding: 0 0 35px 40px;
        @media screen and(max-width: map.get($breakpoints, 'lg')) {
            padding-left: 18px;
        }
        @media screen and(max-width: map.get($breakpoints, 'md')) {
            padding-bottom: 93px;
            padding-left: 32px;
        }
        &-text {
            width: 55%;
            margin: 13px 0 0 0;
            @media screen and(max-width: 1810px) {
                width: 72%;
            }
            @media screen and(max-width: 1700px) {
                width: 64%;
            }
            @media screen and(max-width: 1053px) {
                width: 73%;
            }
            @media screen and(max-width: 931px) {
                width: 70%;
            }
            @media screen and(max-width: 819px) {
                width: 67%;
            }
            
        }
        &-title {
            @include font-montserrat-extrabold;
            font-size: 50px;
            line-height: 75px;
            color: $color-white;
            text-shadow: $text-shadow-hilary;
            @media screen and(max-width: 1572px) {
                font-size: 41px;
            }
            @media screen and(max-width: map.get($breakpoints, 'xl')) {
                font-size: 28px;
            }
            @media screen and(max-width: 931px) {
                font-size: 26px;
            }
            @media screen and(max-width: map.get($breakpoints, 'md')) {
                line-height: 70px;
            }
        }
        &-subtitle {
            @include font-montserrat-semibold;
            margin-top: 17px;
            font-size: 29px;
            line-height: 29px;
            color: $color-white;
            text-shadow: $text-shadow-hilary;
            @media screen and(max-width: 1572px) {
                font-size: 22px;
            }
            @media screen and(max-width: map.get($breakpoints, 'xl')) {
                font-size: 19px;
            }
            @media screen and(max-width: 931px) {
                font-size: 16px;
            }
            @media screen and(max-width: map.get($breakpoints, 'md')) {
                @include font-montserrat-medium;
                font-size: 18px;
                line-height: 22px;
                margin-top: 0;
            }
        }
        &_bg_1,
        &_bg_2,
        &_bg_3,
        &_bg_4 {
            background: right 312px center / 401px 169px no-repeat url(../img/logo/car_mockup.svg),
                        center/cover no-repeat url(../img/background/banner/01.png);
            @media screen and(max-width: 1810px) {
                background: right 45px top 10px / 382px 150px no-repeat url(../img/logo/car_mockup.svg),
                        center/cover no-repeat url(../img/background/banner/01.png);
            }
            @media screen and(max-width: 1301px) {
                background: right 45px top 10px / 300px 120px no-repeat url(../img/logo/car_mockup.svg),
                center/cover no-repeat url(../img/background/banner/01.png);
            }
            @media screen and(max-width: map.get($breakpoints, 'xl')) {
                background: right 25px top 10px / 300px 120px no-repeat url(../img/logo/car_mockup.svg),
                center/cover no-repeat url(../img/background/banner/01.png);
            }
            @media screen and(max-width: 1053px) {
                background: right 5px top 40px / 220px 85px no-repeat url(../img/logo/car_mockup.svg),
                center/cover no-repeat url(../img/background/banner/01.png);
            }
            @media screen and(max-width: map.get($breakpoints, 'md')) {
                background: right 5px top 55px / 310px 127px no-repeat url(../img/logo/car_mockup.svg),
                center/cover no-repeat url(../img/background/banner/02.webp);
            }
        }
    }
    &__pagination {
        bottom: 11px !important;
        right: 9px !important;
        width: auto !important;
        text-align: right !important;
        @media screen and(max-width: map.get($breakpoints, 'md')) {
            text-align: center !important;
        }
    }
    &__bullet {
        display: inline-block;
        width: 50px;
        height: 3px;
        background-color: $color-alhona;
        transition: .2s height;
        cursor: pointer;
        &:not(last-child) {
            margin-right: 10px;
        }
        &_active {
            height: 5px;
            background-color: $color-white;
        }
    }
}