// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

// Resetting default popover styles.
// Explanation see here:
// https://www.mayank.co/notes/popover-default-styles/
// https://www.youtube.com/watch?v=SHCT0yKUQzs&t=1719s

[popover] {
  margin: 0;
  border: none;
  background: none;
  inset: unset;
  color: inherit;
}

[popover]:not(:popover-open) {
  display: none !important;
}

picture {
  height: 100%;
}

/**
 * Basic styles for links
 */
a {
  color: $color-mercury;
  text-decoration: none;

  @include on-event {
    color: $color-mercury;
    text-decoration: underline;
  }
}
