// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

// input type='search' styles for webkit

/* remove round corners */
input[type='search'] {
  appearance: none;
}

/* hide cansel button */
::-webkit-search-cancel-button {
  appearance: none;
}

/* hide magnifying glass */
::-webkit-search-results-button {
  appearance: none;
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  text-indent: 101%;
  padding: 0; // 1
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Main content container
._container {
  @include container;

  @media screen and (max-width: map.get($breakpoints, 'md')) {
    padding-left: 39px;
    padding-right: 39px;
  }

  @media screen and (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

// Wrapper based on max layout width
.wrapper {
  @include wrapper;

  background-color: $color-alabaster;
}

.lock {
  overflow: hidden;
}

.img {
  max-inline-size: 100%;
  inline-size: 100%;
  block-size: auto;

  &_cover {
    object-fit: cover;
  }

  &_contain {
    object-fit: contain;
  }
}

.btn {
  border: none;
  cursor: pointer;

  &_theme_red-orange {
    background-color: $color-red-orange;
  }

  &_theme_transparent {
    background: transparent;
  }

  &_theme_gradient-blue {
    background: linear-gradient(45deg, #2a82b1 0%, #3a91bf 51.14%, #62b1db 100%);
  }

  &_theme_clear {
    color: transparent;
    text-shadow: 0 0 0 $color-silver-chalice;
    opacity: 0.7;
  }
}

.menu-contacts {
  min-width: max-content; // This property is important for positioning via JavaScript.
  padding: 7px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: $color-silver;
  box-shadow: 3px 3px 3px 1px rgb(0 0 0 / 50%);
  list-style-type: none;

  & :nth-child(n):not(:last-child) {
    margin-bottom: 10px;
  }

  & > li {
    padding: 0 2px;
    border-radius: 2px;

    @include on-event {
      background-color: $color-alabaster;
    }
  }
}
