@mixin dropdown-contacts-menu() {
  min-width: max-content; // This property is important for positioning via JavaScript.
  padding: 7px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: $color-silver;
  box-shadow: 3px 3px 3px 1px rgb(0 0 0 / 50%);
  list-style-type: none;

  & :nth-child(n):not(:last-child) {
    margin-bottom: 10px;
  }

  & > li {
    padding: 0 2px;
    border-radius: 2px;

    @include on-event {
      background-color: $color-alabaster;
    }
  }  
}