.header {
    background-color: $color-white;
    &__container {
        display: flex;
        flex-flow: column;
    }
    &__upper {
        display: flex;
        flex-flow: column;
        padding: 28px 0 31px 0;
    }
    &__top {
        margin-bottom: 22px;;
    }
    &__bottom {
    }
    &__cart {
    }
    &__lower {
    }
}
.top-header {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
    }
    &__column {
    }
    &__column_shrink {
        flex-shrink: 0;
    }
    &__menu {
    }
}
// . {
//     &_container {
//     }
// }
.menu {
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
    }
    &__item {
        position: relative;
    }
    &__item:not(:last-child) {
        margin-right: 35px;
    }
    &__item:not(:last-child)::after {
        content: '';
        position: absolute;
        height: 100%;
        margin-left: 17px;
        border: 1px solid $color-silver-chalice;
    }
    &__link {
        @include font-montserrat-medium;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
        color: $color-elephant;
        transition: 2s color;
        @media screen and (min-width: map.get($breakpoints, "md")) {
            &:hover {
                background-color: $color-boston-blue;
            }
        }
    }
}
.quality-btn {
    &__item {
        padding: 13px 20px;
        border-radius: 20px;
        @include font-montserrat-semibold;
        font-size: 13px;
        line-height: 16px;
        color: $color-white;
        text-transform: uppercase;
    }
}
.bottom-header {
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    &__column {
        &_active {
            display: none;
            @media screen and(max-width:  map.get($breakpoints, "md")) {
                display: block;
            }
        }
    }
    &__contacts {
    }
}
.logo {
    &__img {
        width: 382px;
        height: 87px;
    }
    &__img-item {

    }
}
.search-city {
    &__form {
    }
    &__row {
        @include flex-center-v;
        flex-wrap: wrap;
        column-gap: 52px;
    }
    &__column {

        &_arrow_down {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 15px;
                width: 12px;
                height: 8px;
                background-color: $color-silver;
                clip-path: polygon(100% 0%, 0 0%, 50% 100%);
            }
        }
    }

    &__select {
        appearance: none;
        width: 206px;
        height: 30.3px;
        padding: 0 15px;
        @include font-montserrat-regular;
        font-size: 18px;
        line-height: 22px;
        color: $color-black;
        background: $color-white;
        border: 1px solid $color-silver-chalice;
        border-radius: 29px;
        // Remove dropdown arrow in IE10 & IE11
        // @link https://www.filamentgroup.com/lab/select-css.html
        &::-ms-expand {
            display: none;
        }
    }
    &__input {
        padding: 0 30px;        
        height: 35.35px;
        width: 509px;
        @include font-montserrat-medium;
        font-size: 16px;
        line-height: 20px;
        color: $color-silver-chalice;
        border: none;
        border-bottom: 1px solid $color-silver-chalice;
        background: right 30px top/14px no-repeat url('../../img/icons/search.svg');
        &:focus-visible {
            outline: none;
            background-color: $color-mercury;
        }
    }
    &__icon {
        position: absolute;
        top: 0;
        right: 10px;
    }
}
.contacts-header {
    &__row {
        display: flex;
        flex-wrap: wrap;
        column-gap: 45px;
    }
    &__column {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        row-gap: 10px;
    }
    &__label {
        @include font-montserrat-regular;
        font-size: 20px;
        line-height: 24px;
        text-align: right;
        text-decoration-line: underline;
        color: $color-black;
    }
    &__whatsapp {
        padding-left: 26px;
        @include font-montserrat-medium;
        font-size: 20px;
        line-height: 24px;
        text-align: right;
        text-decoration-line: underline;
        color: $color-sushi;
        background: left/contain no-repeat url('../img/icons/whatsapp.svg');
    }
    &__phone {
        @include font-montserrat-medium;
        font-size: 22px;
        line-height: 27px;
        text-align: right;
        color: $color-black;
    }
}
.header-cart {
    &__row {
        display: flex;
        align-items: flex-end;
    }
    &__column {
        &_mr {
            margin-right: 10px;
        }
        &_active {
            display: none;
            @media screen and(max-width:  map.get($breakpoints, "md")) {
                display: block;
            }
        }
    }
    &__bill,
    &__currency {
        @include font-montserrat-bold;
        font-size: 26px;
        line-height: 32px;
        text-align: right;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }
    &__currency {
    }
    &__link {
        display: block;
        position: relative;
        // @include flex-center;
        height: 50px;
        width: 50px; 
        background: center / contain no-repeat url('../../img/icons/shopping-cart.svg');
    }
    &__amount {
        position: absolute;
        top: 10.5px;
        left: 16px;
        @include font-montserrat-semibold;
        font-size: 18px;
        line-height: 22px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $color-elephant;
    }
}

.btn-header {
    &__btn {
        display: flex;
        align-items: center;
        width: 147px;
        height: 50px;
        background: $color-white;
        border: 2px solid $color-elephant;
        border-radius: 3px;
    }
    &__text {
        @include font-montserrat-semibold;
        font-size: 18px;
        line-height: 22px;
        color: $color-elephant;
    }
}
.burger {
    
    &__line {

        @media screen and(max-width:  map.get($breakpoints, "md")) {
            display: block;
            position: relative;
            width: 20px;
            height: 20px;
            margin: 0 15px 0 20px;
            z-index: 5; 
            cursor: pointer;
        }
        & span,
        &::before,
        &::after {
            position: absolute;
            left: 0;
            height: 2px;
            transition: all .2s;
            background-color: $color-elephant;
        }
        &::before,
        &::after {
            content: '';
            width: 100%;

        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        & span {
            width: 75%;
            top: 50%;
            transform: scale(1) translateY(-50%);
        }
        &_active span {
            transform: scale(0) translateY(-50%);
        }
        &_active::before {
            top: 50%;
            transform: rotate(-45deg) translateY(-50%);
        }
        &_active::after {
            bottom: 50%;
            transform: rotate(45deg) translateY(50%);
        }
    }
    
}

.lower-header {
    background-color: $color-mercury;
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__column {
    }
}
.banner-header {
    &__item {
    }
}
.search-product {
    &__item {
    }
    &__title {
    }
    &__form {
    }
}
.serch-product {
    &__input {
    }
}

