.header {
    background-color: $color-white;
    &__container {
        display: flex;
        flex-flow: column;
    }
    &__upper {
        display: flex;
        flex-flow: column;
        padding: 19px 0 22px 0;
    }
    &__top {
        margin-bottom: 19px;;
    }
    &__bottom {
    }
    &__cart {
    }
    &__lower {
    }
}
.top-header {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
    }
    &__column {
    }
    &__column_shrink {
        flex-shrink: 0;
    }
    &__menu {
    }
}
// . {
//     &_container {
//     }
// }
.menu {
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        @media screen and(max-width: 905px) {
            flex-flow: column;
        }
    }
    &__item {
        position: relative;
        margin-bottom: 7px;
    }
    &__item:not(:last-child) {
        margin-right: 35px;
        @media screen and(max-width: 905px) {
            margin-right: 0;
        }
    }
    &__item:not(:last-child)::after {
        content: '';
        position: absolute;
        height: 100%;
        margin-left: 17px;
        border: 1px solid $color-silver-chalice;
        @media screen and(max-width: 1173px) {
            display: none;
        }
    }
    &__link {
        @include font-montserrat-medium;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
        color: $color-elephant;
        @media screen and (min-width: map.get($breakpoints, "md")) {
            &:hover {
                text-decoration: underline;
            }
        }
        @media screen and(max-width: 1173px) {
            font-size: 16px;
            line-height: 18px;
        }
    }
}
.quality-btn {
    &__item {
        padding: 13px 16px;
        border-radius: 20px;
        font-family: 'Montserrat';
        @include font-montserrat-semibold;
        font-size: 13px;
        line-height: 16px;
        color: $color-white;
        text-transform: uppercase;
        transition: background-color .2s;
        @media screen and(max-width: 1173px) {
            font-size: 10px;
            line-height: 12px;
        }
        &:hover {
            background-color: darken($color-red-orange, 10%);
        }
    }
}
.bottom-header {
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    &__column {
        &_active {
            display: none;
            @media screen and(max-width:  map.get($breakpoints, "md")) {
                display: block;
            }
        }
        &_mr_l {
            margin-right: 38px;
            @media screen and(max-width: 905px) {
                margin-right: 0px;
            }
        }
        &_mr_xl {
            margin-right: 52px;
        }
        &_grow {
            flex: 1;
            // @media screen and(max-width: 1173px) {
            //     flex: 0;
            // }
        }
    }
    &__contacts {
    }
}
.logo {
    &__img {
        width: 382px;
        height: 87px;
        @media screen and(max-width: 1173px) {
            width: 260px;
            height: 60px;
        }
    }
    &__img-item {

    }
}
.search-city {
    &__form {

    }
    &__row {
        @include flex-center-v;
        justify-content: space-between;
        // flex-wrap: wrap;
        column-gap: 52px;
        @media screen and(max-width: 1330px) {
            flex-flow: column;
            row-gap: 30px;
        }
    }
    &__column {
        // flex: 1;
        &_arrow_down {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 15px;
                width: 12px;
                height: 8px;
                background-color: $color-silver;
                clip-path: polygon(100% 0%, 0 0%, 50% 100%);
            }
        }
        &_grow {
            width: 100%;
            // flex: 1;
        }
    }

    &__select {
        appearance: none;
        width: 206px;
        height: 30.3px;
        padding: 0 15px;
        @include font-montserrat-regular;
        font-size: 18px;
        line-height: 22px;
        color: $color-black;
        background: $color-white;
        border: 1px solid $color-silver-chalice;
        border-radius: 29px;
        // Remove dropdown arrow in IE10 & IE11
        // @link https://www.filamentgroup.com/lab/select-css.html
        &::-ms-expand {
            display: none;
        }
        @media screen and(max-width: map.get($breakpoints, "lg")) {
            font-size: 16px;
            line-height: 20px;
        }
    }
    &__input {
        padding: 0 30px;        
        height: 35.35px;
        // width: 509px;
        width: 100%;
        @include font-montserrat-medium;
        font-size: 16px;
        line-height: 20px;
        color: $color-silver-chalice;
        border: none;
        border-bottom: 1px solid $color-silver-chalice;
        background: right 30px top/14px no-repeat url('../../img/icons/search.svg');
        &:focus-visible {
            outline: none;
            // background-color: $color-mercury;
        }
    }
    &__icon {
        position: absolute;
        top: 0;
        right: 10px;
    }
}
.contacts-header {
    &__row {
        display: flex;
        flex-wrap: wrap;
        column-gap: 45px;
        @media screen and(max-width: 1555px) {
            flex-flow: column;
            row-gap: 10px;    
        }
        @media screen and(max-width: 1173px) {
            flex-flow: row;
        }
    }
    &__column {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        row-gap: 10px;
    }
    &__label {
        @include font-montserrat-regular;
        font-size: 20px;
        line-height: 24px;
        text-align: right;
        text-decoration-line: underline;
        color: $color-black;
        @media screen and(max-width: map.get($breakpoints, "lg")) {
            font-size: 16px;
            line-height: 20px;
        }
    }
    &__whatsapp {
        padding-left: 26px;
        @include font-montserrat-medium;
        font-size: 20px;
        line-height: 24px;
        text-align: right;
        text-decoration-line: underline;
        color: $color-sushi;
        background: left/contain no-repeat url('../img/icons/whatsapp.svg');
        @media screen and(max-width: map.get($breakpoints, "lg")) {
            font-size: 16px;
            line-height: 20px;
        }
    }
    &__phone {
        @include font-montserrat-medium;
        font-size: 22px;
        line-height: 27px;
        text-align: right;
        color: $color-black;
        @media screen and(max-width: map.get($breakpoints, "lg")) {
            font-size: 16px;
            line-height: 20px;
        }
    }
}
.header-cart {
    &__row {
        display: flex;
        align-items: flex-end;
    }
    &__column {
        &_mr {
            margin-right: 10px;
        }
        &_active {
            display: none;
            @media screen and(max-width: map.get($breakpoints, "md")) {
                display: block;
            }
        }
    }
    &__bill,
    &__currency {
        @include font-montserrat-bold;
        font-size: 26px;
        line-height: 32px;
        text-align: right;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }
    &__currency {
    }
    &__link {
        display: block;
        position: relative;
        // @include flex-center;
        height: 50px;
        width: 50px; 
        background: center / contain no-repeat url('../../img/icons/shopping-cart.svg');
    }
    &__amount {
        position: absolute;
        top: 10.5px;
        left: 16px;
        @include font-montserrat-semibold;
        font-size: 18px;
        line-height: 22px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $color-elephant;
    }
}

.btn-header {
    &__btn {
        display: flex;
        align-items: center;
        width: 147px;
        height: 50px;
        background: $color-white;
        border: 2px solid $color-elephant;
        border-radius: 3px;
    }
    &__text {
        @include font-montserrat-semibold;
        font-size: 18px;
        line-height: 22px;
        color: $color-elephant;
    }
}
.burger {
    
    &__line {

        @media screen and(max-width:  map.get($breakpoints, "md")) {
            display: block;
            position: relative;
            width: 20px;
            height: 20px;
            margin: 0 15px 0 20px;
            z-index: 5; 
            cursor: pointer;
        }
        & span,
        &::before,
        &::after {
            position: absolute;
            left: 0;
            height: 2px;
            transition: all .2s;
            background-color: $color-elephant;
        }
        &::before,
        &::after {
            content: '';
            width: 100%;

        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        & span {
            width: 75%;
            top: 50%;
            transform: scale(1) translateY(-50%);
        }
        &_active span {
            transform: scale(0) translateY(-50%);
        }
        &_active::before {
            top: 50%;
            transform: rotate(-45deg) translateY(-50%);
        }
        &_active::after {
            bottom: 50%;
            transform: rotate(45deg) translateY(50%);
        }
    }
    
}

.lower-header {
    background-color: $color-mercury;
    &__container {
        // display: flex;
        // // flex-wrap: wrap;
        // justify-content: space-between;
        // align-items: flex-end;
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: self-end;
        justify-content: space-between;
        column-gap: 20px;
        padding-top: 16px;
        @media screen and(max-width: map.get($breakpoints, "xxl")) {
            grid-template-columns: 0.8fr 1fr 0.8fr;
        }
        @media screen and(max-width: map.get($breakpoints, "lg")) {
            row-gap: 20px;
        }
    }
    &__column {
        &_pos_1 {
            grid-area: 1/1/2/2;
            @media screen and(max-width: map.get($breakpoints, "lg")) {
                grid-area: 2/1/2/3;
            }
        }
        &_pos_2 {
            grid-area: 1/2/2/3;
            @media screen and(max-width: map.get($breakpoints, "lg")) {
                grid-area: 1/1/2/4;
            }
        }
        &_pos_3 {
            grid-area: 1/3/2/4;
            @media screen and(max-width: map.get($breakpoints, "lg")) {
                grid-area: 2/3/2/4;
            }
        }

    }
}
.banner-header {
    &__img {
        width: 432px;
        height: 58.58px;
        @media screen and(max-width: map.get($breakpoints, "xxl")) {
            width: 100%;
        }
        &-item {
            height: inherit;
        }
    }
    // &__item {
    //     &_bg_icon {
    //         background: center/contain no-repeat url('../../img/banner/warranty_1_xl.png');
    //     }
    //     &_bg_text {
    //         background: center/contain no-repeat url('../../img/banner/warranty_2_xl.png');
    //     }
    // }
}
.search-product {
    &__item {
    }
    &__title {
        margin-bottom: 13px;
        @include font-montserrat-medium;
        font-size: 18px;
        line-height: 22px;
        color: $color-black;
        text-align: center;
    }
    &__form {
    }
    &__input {
        height: 58px;
        width: 100%;
        padding: 0 20px;
        box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.22);
        border-radius: 10px;
        @include font-montserrat-regular;
        font-size: 18px;
        line-height: 22px;
        color: $color-silver-chalice;
        background: right 20px center/20px $color-white no-repeat url(../../img/icons/search.svg);
        @media screen and(max-width: 1423px) {
            padding: 0 10px;
            background-position: right 10px center;
        }
        @media screen and(max-width: 1264px) {
            background-size: 15px;
        }
    }
    &__input::placeholder {
        @include font-montserrat-regular;
        font-size: 18px;
        line-height: 22px;
        color: $color-silver-chalice;
        @media screen and(max-width: 1468px) {
            font-size: 16px;
            line-height: 20px;
            padding: 0 10px;
        }
        @media screen and(max-width: 1264px) {
            font-size: 12px;
            line-height: 12px;
            padding: 0 8px;
        }
    }

}

