.header-cart {
    &__row {
        display: flex;
        align-items: flex-end;
    }
    &__column {
        &_mr {
            margin-right: 10px;
        }
        &_active {
            display: none;
            @media screen and(max-width: map.get($breakpoints, "md")) {
                display: block;
            }
        }
    }
    &__bill,
    &__currency {
        @include font-montserrat-bold;
        font-size: 26px;
        line-height: 32px;
        text-align: right;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }
    &__currency {
    }
    &__link {
        display: block;
        position: relative;
        // @include flex-center;
        height: 50px;
        width: 50px; 
        background: center / contain no-repeat url('../../img/icons/shopping-cart.svg');
    }
    &__amount {
        position: absolute;
        top: 10.5px;
        left: 16px;
        @include font-montserrat-semibold;
        font-size: 18px;
        line-height: 22px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $color-elephant;
    }
}