.search-city {
    &__form {

    }
    &__row {
        @include flex-center-v;
        justify-content: space-between;
        column-gap: 52px;
        @media screen and(max-width: 1330px) {
            flex-flow: column;
            row-gap: 30px;
        }
    }
    &__column {
        &_grow {
            width: 100%;
        }
    }
    &__search {
        position: relative;
        @media screen and(max-width: map.get($breakpoints, "md")) {
            position: absolute;
            top: 50%;
            left: 243px;
            width: 50px;
            height: 50px;
            transform: translateY(-50%);
            transition: width .2s;
            z-index: 1;
            &_over {
                z-index: 20;
            }
        }
        @media screen and(max-width: 750px) {
            height: 40px;
            width: 40px;
        }
    }
    &__input {
        height: 44.35px;
        width: 100%;
        padding: 0 30px;        
        border: none;
        border-bottom: 1px solid $color-silver-chalice;
        cursor: pointer;
        // background color for autofill in webkit
        &:-webkit-autofill,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:hover {
            -webkit-text-fill-color: $color-silver-chalice;
            -webkit-box-shadow: $autofill-bg-white;
        }
        &,
        &::placeholder,
        // autofill text
        &:-webkit-autofill::first-line {
            @include font-montserrat-medium;
            color: $color-silver-chalice;
            font-size: 16px;
            line-height: 20px;
        }
        &,
        &::placeholder {
            transition: color .2s;
        }
        &:focus {
            cursor: auto;
        }
        &:focus-visible {
            outline: none;
        }
        @media screen and(max-width: map.get($breakpoints, "md")) {
            position: absolute;
            height: 100%;
            padding: 0 5px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
            border-radius: 3px;
            border-bottom: none;
            &:-webkit-autofill,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:hover {
                -webkit-box-shadow: $autofill-bg-white, 0px 4px 8px rgba(0, 0, 0, 0.15);
            }
            // hide text when search is closed
            &_hide,
            &_hide:focus {
                background: center no-repeat url('../../img/icons/search-blue.svg');
                background-size: 20px 20px;
                color: transparent !important;
                // for webkit
                -webkit-text-fill-color: transparent !important;
                &::placeholder {
                    color: transparent !important;
                }
                cursor: pointer;
                @media screen and(max-width: 750px) {
                    background-size: 15px 15px;
                }
            }
        }
  
    }
    &__clear {
        display: none;
        // z-index: 21;
        cursor: pointer;
        color: transparent;  
        text-shadow: 0 0 0 $color-silver-chalice;
        opacity: .7;
        @media screen and(max-width: map.get($breakpoints, "md")) {
            text-shadow: 0 0 0 $color-elephant;
        }
        &_active {
            display: block;
        }
        // &:hover::before {
        //     content: 'clear';
        //     @media screen and(max-width: map.get($breakpoints, "md")) {
        //         // top: -8px !important;
        //         // left: -27px !important;
        //     }
        // }
    }
    &__close {
        display: none;
        position: absolute;
        width: 10px;
        height: 10px;
        top: 4px;
        left: 96%;
        // z-index: 21;
        background-color: $color-alto;
        border-radius: 50%;
        opacity: .9;
        overflow: hidden;
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            height: 100%;
            width: .8px;
            background-color: $color-elephant;
        }
        &::before {
            transform: translate(-50%, -50%) rotateZ(45deg);
        }
        &::after {
            transform: translate(-50%, -50%) rotateZ(-45deg);
        }
        @media screen and(max-width: map.get($breakpoints, "md")) {
            &_active {
                display: block;
            }
        }
    }
    &__btn {
        width: 15px;
        height: 15px;
        background: center/contain no-repeat url('../../img/icons/search-gray.svg');
        @media screen and(max-width: map.get($breakpoints, "md")) {
            background-image: url('../../img/icons/search-blue.svg');
        }
        &-container {
            position: absolute;
            top: 50%;
            left: 93%;
            display: flex;
            flex-flow: column;
            transform: translateY(-50%);
            @media screen and(max-width: map.get($breakpoints, "md")) {
                display: none;
                left: 50%;
                transform: translate(-50%, -50%);
                &_active {
                    display: flex;
                    left: 90%;
                }
            }
        }
    }
    // tooltip styles
    // &__clear:hover::before,
    // &__btn:hover::before,
    // &__close-hint {
    //     position: absolute;
    //     padding: 0 3px;
    //     font-family: "Montserrat";
    //     @include font-montserrat-regular;
    //     font-size: 10px;
    //     background-color: $color-alto;
    //     color: $color-elephant;
    //     border-radius: 2px;
    //     z-index: 21;
    // }
    // &__clear:hover::before,
    // &__btn:hover::before {
    //     top: -14px;
    //     left: 0px;
    // }
    &__select {
        appearance: none;
        width: 206px;
        height: 30.3px;
        padding: 0 15px;
        @include font-montserrat-regular;
        font-size: 18px;
        line-height: 22px;
        color: $color-black;
        background: $color-white;
        border: 1px solid $color-silver-chalice;
        border-radius: 29px;
        // Remove dropdown arrow in IE10 & IE11
        // @link https://www.filamentgroup.com/lab/select-css.html
        &::-ms-expand {
            display: none;
        }
        @media screen and(max-width: map.get($breakpoints, "lg")) {
            font-size: 16px;
            line-height: 20px;
        }
        @media screen and(max-width: map.get($breakpoints, "md")) {
            height: 40px;
            font-size: 18px;
            line-height: 22px;
        }
    }
    &__icon {
        position: absolute;
        top: 0;
        right: 10px;
    }
}