.top-header {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        @media screen and(max-width: 905px) {
            justify-content: space-around;
        }
        @media screen and(max-width: map.get($breakpoints, 'md')) {
            justify-content: space-between;
            column-gap: 9px;
        }
    }
    &__da {
        @media screen and(max-width: map.get($breakpoints, "md")) {
            display: flex;
            justify-content: space-between;
            padding: 55px 39px 60px;
            background-color: $color-alabaster;
        }
    }
    &__column {
    }
    &__column_shrink {
        flex-shrink: 0;
    }
    &__menu {
        @media screen and(max-width: map.get($breakpoints, 'md')) {
            position: absolute;
            top: 0;
            left: -100%;
            height: 100%;
            width: 100%;
            transition: transform .3s ease-in;
            z-index: 10;
            &_active {
                transform: translateX(100%);
            }
        }
        &-list {
            @media screen and(max-width: map.get($breakpoints, 'md')) {
                position: absolute;
                // top: 0;
                bottom: 0;
            }    
        }
    }
}