.contacts-header {
  &__row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 45px;

    @media screen and(max-width: 1555px) {
      flex-flow: column;
      row-gap: 10px;
    }

    @media screen and(max-width: 1173px) {
      flex-flow: row;
    }

    @media screen and(max-width: 781px) {
      column-gap: 30px;
    }

    @media screen and(max-width: map.get($breakpoints, 'md')) {
      align-items: flex-end;
      column-gap: 18px;
    }

    @media screen and(min-width: 769px) {
      margin-top: 10px;
    }

    @media screen and(max-width: 720px) {
      align-items: center;
    }
  }

  &__column {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    row-gap: 11px;
  }

  &__callback {
    @include font-montserrat-regular;

    font-size: 20px;
    line-height: 24px;
    text-align: right;
    text-decoration-line: underline;
    color: $color-black;

    @media screen and(max-width: map.get($breakpoints, "lg")) {
      font-size: 16px;
      line-height: 20px;
    }

    @media screen and(max-width: map.get($breakpoints, 'md')) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__messengers {
    list-style: none;
  }

  &__whatsapp {
    padding-left: 26px;

    @include font-montserrat-medium;

    font-size: 20px;
    line-height: 24px;
    text-align: right;
    text-decoration-line: underline;
    color: $color-sushi;
    background: left/contain no-repeat url('#{$path-icon}/whatsapp-green.svg');

    @media screen and(max-width: map.get($breakpoints, "lg")) {
      font-size: 16px;
      line-height: 20px;
    }

    @media screen and(max-width: map.get($breakpoints, "md")) {
      padding-left: 0;

      @include font-montserrat-regular;

      font-size: 18px;
      line-height: 29px;
      color: $color-malachite;
      background: none;
    }

    @media screen and(max-width: 635px) {
      font-size: 16px;
      line-height: 27px;
    }
  }

  &__phone {
    height: 100%;

    &-link {
      @include font-montserrat-medium;

      font-size: 22px;
      line-height: 27px;
      text-align: right;
      color: $color-black;

      @media screen and(max-width: map.get($breakpoints, "lg")) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &-list {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      height: 100%;

      @media screen and(max-width: 1555px){
        row-gap: 8px;
      }

      @media screen and(max-width: map.get($breakpoints, "md")) {
        flex-flow: row;
      }
    }

    &-item {
      list-style-type: none;
    }
  }
}
