.menu {
  &__wrapper {
    $border-style: 1px solid $color-silver-chalice;
    $not-first-child-selector: '1n of :not(:first-child)';
    $not-last-child-selector: '1n of :not(:last-child)';

    // desktop styles
    @include media(769, 'min') {
      $not-first-child-styles: (
        'padding-left': 17px,
      );
      $not-last-child-styles: (
        'padding-right': 17px,
        'border-right': $border-style,
      );

      @include apply-nth-styles(
        (
          $not-first-child-selector: $not-first-child-styles,
          $not-last-child-selector: $not-last-child-styles,
        ),
        '_theme_desktop'
      );
    }

    // mobile styles
    @include media {
      $styles: (
        'width': 100%,
        'text-align': center,
      );
      $padding-scaler: 5.5%;
      $not-first-child-styles: (
        'padding-top': clamp(26.5px, $padding-scaler, 36px),
      );
      $not-last-child-styles: (
        'padding-bottom': clamp(26.5px, $padding-scaler, 36px),
        'border-bottom': $border-style,
      );

      @include apply-styles($styles);
      @include apply-nth-styles(
        (
          $not-first-child-selector: $not-first-child-styles,
          $not-last-child-selector: $not-last-child-styles,
        ),
        '_theme_mobilex'
      );
    }
  }

  &__item {
    @function merge-styles($fontsize, $lineheight, $color) {
      @return ('font-size': $fontsize, 'line-height': $lineheight, 'color': $color);
    }

    text-decoration: none;

    // desktop styles
    @include media(769, 'min') {
      $mixins-with-args-desktop-dark: (
        meta.get-mixin('font-montserrat-medium'): null,
        meta.get-mixin('apply-styles'): merge-styles(18px, 22px, $color-elephant),
      );

      @include apply-mixins($mixins-with-args-desktop-dark, '_theme_desktop-dark');
    }

    // mobile styles
    @include media {
      $mixins-with-args-mobile-dark: (
        meta.get-mixin('font-montserrat-semibold'): null,
        meta.get-mixin('apply-styles'): merge-styles(clamp(18px, 3.3vw, 22px), 1.2, $color-elephant),
      );

      @include apply-mixins($mixins-with-args-mobile-dark, '_theme_mobile-dark');
      @include apply-styles(merge-styles(22px, 27px, $color-white), '_theme_mobile-light');
    }
  }
}
