.promo-delivery {
  &__item {
    height: 58px;
    overflow: hidden;
    padding: 5px;
    border-radius: 10px;
    background: left / 100% 100% no-repeat url('#{$path-background}/promo/bg.png');

    @media screen and(max-width: 635px) {
      height: 40px;
    }
  }

  &__text {
    @include flex-center;

    flex-flow: column;
    height: 100%;
    color: $color-white;
    text-shadow: $text-shadow-black-lucia;
    line-height: normal;
  }

  &__top-text {
    @include font-montserrat-black;

    font-size: 25px;
    letter-spacing: 0.365em;

    @media screen and(max-width: map.get($breakpoints, 'sm')) {
      letter-spacing: 2.16px;
    }
  }

  &__bottom-text {
    @include font-montserrat-regular;

    font-size: 20px;
    letter-spacing: 0.715em;

    @media screen and(max-width: map.get($breakpoints, 'sm')) {
      letter-spacing: 6.405px;
    }
  }
}
