.promo-ribbon {
  &__item {
    @include flex-center;

    height: 58px;
    overflow: hidden;
    padding: 5px;
    border-radius: 10px;
    background: left/100% 100% no-repeat url('#{$path-background}/promo/bg.webp');

    @media screen and (max-width: 635px) {
      height: 40px;
    }
  }

  &__text {
    @include flex-center;

    flex-basis: 13em;
    height: 100%;
    padding-left: 50px;
    font-size: 25px;
    line-height: normal;
    letter-spacing: 0.75px;
    text-shadow: $text-shadow-black-lucia;
    color: $color-white;
    background: left / 36px 36px no-repeat url('#{$path-icon}/ribbon.svg');

    @media screen and (max-width: map.get($breakpoints, 'md')) {
      flex-flow: column;
      padding-left: 39px;
    }

    @media screen and (max-width: 635px) {
      background-size: 30px 30px;
    }

    @media screen and (max-width: map.get($breakpoints, 'sm')) {
      background: none;
      padding-left: 0;
    }
  }

  &__top-text {
    @include font-montserrat-regular;

    margin-right: 5px;

    @media screen and (max-width: map.get($breakpoints, 'md')) {
      letter-spacing: 8.1px;
      margin-right: 0;
    }

    @media screen and (max-width: 635px) {
      order: 2;
    }

    @media screen and (max-width: map.get($breakpoints, 'sm')) {
      letter-spacing: 6.405px;
    }
  }

  &__bottom-text {
    @include font-montserrat-black;

    @media screen and (max-width: map.get($breakpoints, 'md')) {
      letter-spacing: 5.125px;
    }

    @media screen and (max-width: map.get($breakpoints, 'sm')) {
      letter-spacing: 3.54px;
    }
  }
}
