.search-product {
  &__container {
    text-align: center;

    &:has(.search-product__input:focus) .search-product__title {
      font-weight: bold;
    }
  }

  &__title {
    @include font-montserrat-medium;

    font-size: 18px;
    line-height: 22px;
    color: $color-black;
    cursor: pointer;
  }

  &__form {
    position: relative;
    margin-top: 13px;
  }

  &__input {
    height: 58px;
    width: 100%;
    padding: 0 20px;
    box-shadow: 0 5px 7px rgb(0 0 0 / 22%);
    border-radius: 10px;
    border: none;
    outline: none;

    @include font-montserrat-regular;

    font-size: 18px;
    line-height: 22px;
    color: $color-silver-chalice;

    &:placeholder-shown ~ .search-product__btn-container .search-product__clear {
      display: none;
    }

    &::placeholder {
      @include font-montserrat-regular;

      font-size: 18px;
      line-height: 22px;
      color: $color-silver-chalice;

      @media screen and(max-width: 1468px) {
        font-size: 16px;
        line-height: 20px;
      }

      @media screen and(max-width: 1264px) {
        font-size: 14px;
        line-height: 14px;
      }

      @media screen and(max-width: 1050px) {
        font-size: 18px;
        line-height: 22px;
      }
    }

    &:focus:valid {
      box-shadow: 0 5px 7px $color-sushi;
    }

    &:focus:invalid {
      box-shadow: 0 5px 7px $color-red-orange;
    }

    @media screen and(max-width: 1423px) {
      padding: 0 10px;
      background-position: right 10px center;
    }

    @media screen and(max-width: 1264px) {
      padding: 0 8px;
      background-size: 15px;
    }

    @media screen and(max-width: map.get($breakpoints, 'md')) {
      padding: 0 24px;
    }
  }

  &__btn-container {
    position: absolute;
    display: flex;
    flex-flow: column;
    row-gap: 5px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

    & button:not(:last-child) {
      margin-bottom: 3px;
    }
  }

  &__btn {
    --width: 20px;
    --height: 20px;

    position: relative;
    width: var(--width);
    height: var(--height);
    background: center/contain no-repeat url("#{$path-icon}/search-gray.svg");

    @include tooltip(
      $v-align: (side: bottom, value: var(--height)),
    );

    @include hover {
      border: 1.5px solid $tooltip-color;
      border-radius: 3px;
    }
  }

  &__clear {
    --width: 20px;
    --height: 20px;

    position: relative;
    height: var(--height);
    width: var(--width);

    @include tooltip(
      $h-align:(side: right, value: var(--height)),
    );

    @include hover {
      border: 1.5px solid $tooltip-color;
      border-radius: 3px;
    }
  }
}
