$btns-right-shift: 20px;
$btns-size: 20px;
$input-padding-gap: 7px;
$input-padding-right: $btns-right-shift + $btns-size + $input-padding-gap;

.search-product {
  @include media(470) {
    $btns-right-shift: 10px;
    $btns-size: 15px;
    $input-padding-right: $btns-right-shift + $btns-size + $input-padding-gap;

    &__input {
      padding-right: $input-padding-right;
      padding-left: $btns-right-shift;
    }

    &__btn-container {
      right: $btns-right-shift;
    }

    &__submit,
    &__clear {
      height: $btns-size;
      width: $btns-size;
    }
  }

  &__container {
    &:has(.search-product__input:focus) .search-product__title {
      font-weight: bold;
    }
  }

  &__label-input {
    display: block;
    text-align: center;

    @include font-montserrat-medium;

    font-size: 18px;
    line-height: 22px;
    color: $color-black;
    cursor: pointer;
  }

  &__form {
    margin-top: 13px;
  }

  &__input-wrapper {
    position: relative;
  }

  &__input {
    height: 58px;
    width: 100%;
    padding: 0 $input-padding-right 0 20px;
    box-shadow: 0 5px 7px rgb(0 0 0 / 22%);
    border-radius: 10px;
    border: none;
    outline: none;
    color: $color-silver-chalice;
    line-height: 1.2;

    &,
    &::placeholder {
      @include font-montserrat-regular;

      font-size: 18px;

      @include media(635) {
        font-size: clamp(12px, 3vw, 18px);
      }
    }

    @include media(1423) {
      padding-left: 8px;
    }

    @include media {
      padding-left: 25px;
    }

    @include media(635) {
      height: clamp(40px, 3.3em, 58px);
    }

    &:placeholder-shown ~ .search-product__btn-container .search-product__clear {
      display: none;
    }

    &::placeholder {
      color: $color-silver-chalice;

      @include media(1468) {
        font-size: 16px;
      }

      @include media(1264) {
        font-size: 14px;
      }

      @include media(1050) {
        font-size: 18px;
      }
    }

    &:focus:valid {
      box-shadow: 0 5px 7px $color-sushi;
    }

    &:focus:invalid {
      box-shadow: 0 5px 7px $color-red-orange;
    }
  }

  &__btn-container {
    position: absolute;
    display: flex;
    flex-flow: column;
    row-gap: 5px;
    top: 50%;
    right: $btns-right-shift;
    transform: translateY(-50%);
  }

  &__submit,
  &__clear {
    position: relative;
    width: $btns-size;
    height: $btns-size;

    @include hover {
      border: 1.5px solid $tooltip-color;
      border-radius: 3px;
    }

    @include tooltip(
      $h-align: (
        side: right,
        value: $btns-size,
      )
    );
  }

  &__submit {
    background: center/contain no-repeat url('#{$path-icon}/search-gray.svg');
  }
}
