@supports (anchor-name: --myanchor) {
  .whatsappmenu__menu {
    position-anchor: --phones-menu-anchor;
    position-area: span-bottom left;
    position-try-fallbacks: flip-block, flip-inline;
    position-visibility: anchors-visible;
  }
}

.whatsappmenu {
  &__button {
    width: 20px;
    height: 20px;
    background: center / 100% 100% no-repeat url('#{$path-icon}/whatsapp-gray.svg');
  }
}
